body {
  margin: 0;
  background: #050507;
  color: #00ffff;
  font-family: monospace;
  overflow: hidden;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 260px;
}

.panel {
  background: rgba(0,0,0,0.6);
  border: 1px solid #00ffff44;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  margin-bottom: 5px;
  background: black;
  color: #00ffff;
  border: 1px solid #00ffff55;
  cursor: pointer;
}

input[type=range] {
  width: 100%;
}
